
<div class="row">

  <div class="col-md-2 bk_border bk_color pr_0">
    <app-header></app-header>
  </div>
  <div class="col-md-10 pl_0 pr_0">
    <div class="container">
      <div class="container">

        <div class="jumbotron">
          <p>
            <ngb-alert type="custom" style=" color: white;
      background-color: #184069;
      border-color: #000280;" [dismissible]="false"><strong>Transactions</strong></ngb-alert>
          </p>
          <br>

          <p><strong>Member ID:</strong> {{mem_id}}</p>

          ​
          <p><strong>Name:</strong>{{name}}</p>
          <br>
          
          ​<div class="search-container">
              
                  
                  <input type="text" name="focus" required class="search-box" id="myInput" onkeyup="myFunction()" placeholder="Enter search term" />
                      <!-- <button class="close-icon" type="reset"></button> -->
                    
          </div>

          ​
          <table class="table table-striped" id="myTable">
            <thead>
              <tr>

                <th>Transaction Id</th>
                <th>Modified Date</th>
                <th>Details</th>

                <!-- <th>TRANSACTIONS</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor ="let item of t1">
                <td>{{item.data.TXID}}</td>
                <td>{{item.data.MODIFIEDDATE}}</td>

                <td><button class="btn btn-primary" onclick="document.getElementById('id01').style.display='block'"
                    style="width:auto;">VIEW</button>

                  <div id="id01" class="modal modal-content animate" style="margin-left: 10%;margin-top:0%">
                    <!--   
              <form class="modal-content animate"> -->


                    <div class="container">
                      <span onclick="document.getElementById('id01').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                      <b>TRANSACTION DETAILS</b>
                      <br>
                      <p>Transaction Id: 13140ef1bd4b4424a28372ecc4c41997</p>
                      <!-- <form> -->
                      <br />
                      <fieldset>
                        <!-- <legend>Donation Form</legend> -->
                        <!-- <div class="colums"> -->



                        <div class="row">

                          <div class="col-md-4">
                            <label for="fname">HOF Name</label>
                            <input id="fname" disabled type="text" name="fname" placeholder='Pushpa Devi' />
                          </div>
                          <div class="col-md-4">
                            <label for="lname">Father's Name</label>
                            <input id="lname" disabled type="text" name="lname" placeholder='Radha Krishn' />
                          </div>
                          <div class="col-md-4">
                            <label for="address">Block City</label>
                            <input id="address" disabled type="text" name="address" placeholder='Dhanoo' />
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <label for="phone">Mother's Name</label>
                            <input id="phone" disabled type="text" name="phone" placeholder='Rukma Devi' />
                          </div>
                          <div class="col-md-4">
                            <label for="saddress">Aadhar ID</label>
                            <input id="saddress" disabled type="text" name="city" placeholder='XXXXXX12323' />
                          </div>
                          <div class="col-md-4">
                            <label for="city">District</label>
                            <input id="city" disabled type="text" name="city" placeholder='Barmer' />
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <label for="zip">Bhamashah ID</label>
                            <input id="zip" disabled type="text" name="zip" placeholder='1207-FQXF-25163' />
                          </div>
                          <div class="col-md-4">
                            <label for="country">Gender</label>
                            <input id="country" disabled type="text" name="text" placeholder='Female' />
                          </div>
                          <div class="col-md-4">
                            <label for="country">Pincode</label>
                            <input id="country" disabled type="text" name="text" placeholder='344702' />
                          </div>

                        </div>


                        <div class="row">
                          <div class="col-md-4">
                            <label for="country">Date of Birth</label>
                            <input id="country" disabled type="text" name="text" placeholder='05-JUL-74' />
                          </div>
                          <div class="col-md-4">
                            <label for="country">Marital Status</label>
                            <input id="country" disabled type="text" name="text" placeholder='Married' />
                          </div>
                          <div class="col-md-4">
                            <label for="country">Vill Ward</label>
                            <input id="country" disabled type="text" name="text" placeholder='Shri Ramwala' />
                          </div>
                        </div>



                        <!-- </div> -->


                      </fieldset>

                    </div>

                    <!--               
              </form> -->
                  </div>
                </td>
              </tr>

            </tbody>
          </table>

          <script>

            // Get the modal
            var modal = document.getElementById('id01');

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
            function close() {
              modal.close();
            }
          </script>

        </div>
      </div>
    </div>
  </div>
</div>