
    <br>
    <b>TRANSACTION DETAILS</b>
    <br>
    <p>Transaction Id: 11111111111111111111111111111111</p>
    <!-- <form> -->
      <br/>
      <fieldset>
        <!-- <legend>Donation Form</legend> -->
        <div class="colums">
          <div class="item">
            <label for="fname">HOF Name</label>
            <input id="fname" type="text" name="fname" placeholder='Pushpa Devi' />
          </div>
          <div class="item">
            <label for="lname">Father's Name</label>
            <input id="lname" type="text" name="lname" placeholder='Radha Krishn' />
          </div>
          <div class="item">
            <label for="address">Block City</label>
            <input id="address" type="text"   name="address" placeholder='Dhanoo' />
          </div>
          <div class="item">
            <label for="phone">Mother's Name</label>
            <input id="phone" type="tel"   name="phone" placeholder='Rukma Devi' />
          </div>
          <div class="item">
            <label for="saddress">Aadhar ID</label>
            <input id="saddress" type="text"   name="city" placeholder='XXXXXX12323'  />
          </div>
          <div class="item">
            <label for="city">District</label>
            <input id="city" type="text"   name="city" placeholder='Barmer' />
          </div>
          <div class="item">
            <label for="zip">Bhamashah ID</label>
            <input id="zip" type="text"   name="zip" placeholder='1207-FQXF-25163' />
          </div>
          <div class="item">
            <label for="country">Gender</label>
            <input id="country" type="text"   name="text" placeholder='Female' />
          </div>
          <div class="item">
              <label for="country">Pincode</label>
              <input id="country" type="text"   name="text" placeholder='344702' />
            </div>
            <div class="item">
                <label for="country">Date of Birth</label>
                <input id="country" type="text"   name="text" placeholder='05-JUL-74' />
              </div>
              <div class="item">
                  <label for="country">Marital Status</label>
                  <input id="country" type="text"   name="text" placeholder='Married' />
                </div>
                <div class="item">
                    <label for="country">Vill Ward</label>
                    <input id="country" type="text"   name="text" placeholder='Shri Ramwala' />
                  </div>
        </div>
      </fieldset>
      <br/>
    
  
