.side_ft{
    color: #000000;
    size: 20px;
    text-transform: uppercase;
 
}

.br_bottom{
    border-bottom: 2px solid #1B3280;
}

.br_width{
    width: 167% !important;
    
}


    // .sidenav {
    //     height: 100%;
    //     width: 160px;
    //     position: fixed;
    //     z-index: 1;
    //     top: 0;
    //     left: 0;
    //     overflow-x: hidden;
    //     padding-top: 20px;
    // }