<div class="toolbar" role="banner">
        <img
          width="40"
          alt="Angular Logo"
          src="http://www.gstcouncil.gov.in/sites/all/themes/gst/images/Indian-Embelam.png"
        />
        <span style="font-size: 250%; font-weight: normal ;font-family: DejaVu serif">Government of Rajasthan</span>
          <div class="spacer"></div>
       <div style="text-align:center">   <span style="font-size: 39px; font-weight: normal ;font-family: Dyuthi">SRDH<br></span>
            <span style="font-weight: normal; font-size: 15px">State Residency Division Hub</span>
        </div>
        <style type="text/css">
            * {
                font-family: DejaVu Serif;
                font-size: 12pt;
            }
        </style>
      </div>
<router-outlet></router-outlet>
