<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="
        http://www.gstcouncil.gov.in/sites/all/themes/gst/images/Indian-Embelam.png" />
  <span style="font-size: 250%; font-weight: normal ;font-family: DejaVu serif">Government of Rajasthan</span>
  <div class="spacer"></div>
  <div style="text-align:center">
    <div style="font-size: 39px; font-weight: normal;font-family: Dyuthi;line-height: 1em !important">SRDH</div>
    <div style="font-weight: normal; font-size: 15px;">State Residency Division Hub</div>
  </div>
  <style type="text/css">
    * {
      font-family: DejaVu Serif;
      font-size: 12pt;
    }
  </style>
</div>
<div class="row bk_color ht_60">
  <div class="col-md-11 col-sm-11 col-xs-11"></div>
  <div class="col-md-1 col-sm-1 col-xs-1">
    <div class="bk_img"></div>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
  <router-outlet></router-outlet>
</div>
<div class="col-md-12 pr_0 pl_0">
  <app-footer></app-footer>
</div>