<div>
    <div class="row">
        <div class="col-md-2 bk_border bk_color pr_0">
            <app-header></app-header>
        </div>
        <div class="col-md-10 pl_0 pr_0">
            <div class="row ml_40 mt_40">
                <div class="col-md-11 side_color">
                    <div class="ft_color_white ft_18 pad_7">HISTORY</div>
                </div>
            </div>
            <div class="row ml_40 mt_20">
                <div class="col-md-11">
                    <div class="ft_18"><b>Family Id</b>:YIKSSS</div>
                </div>
            </div>
            <div class="row ml_40 mt_20">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope="col">NAME</th>
                            <th scope="col">MEMBER ID</th>
                            <th scope="col">CREATED DATE</th>
                            <th scope="col">TRANSCATIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Pushpa</th>
                            <td>0</td>
                            <td>12-APR-19</td>
                            <td><button class="btn ft_color_white btn_padding btn-sm btn-color">View</button></td>
                        </tr>
                        <tr>
                            <th scope="row">Radha Krishna</th>
                            <td>317702</td>
                            <td>12-APR-19</td>
                            <td><button class="btn ft_color_white btn_padding btn-sm btn-color">View</button></td>
                        </tr>
                        <tr>
                            <th scope="row">Rukma Devi</th>
                            <td>317703</td>
                            <td>12-APR-19</td>
                            <td><button class="btn ft_color_white btn_padding btn-sm btn-color">View</button></td>
                        </tr>
                        <tr>
                            <th scope="row">Surajbhan</th>
                            <td>317704</td>
                            <td>12-APR-19</td>
                            <td><button class="btn ft_color_white btn_padding btn-sm btn-color">View</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="col-md-12 pr_0 pl_0">
    <app-footer></app-footer>
</div>