<!-- <br>
<div class="container-fluid">
        <div class="container-fluid"> -->
<div class="row">
  <div class="col-md-2 bk_border bk_color pr_0">
    <app-header></app-header>
  </div>
  <div class="col-md-10 pl_0 pr_0">

    <!-- <div class="row ml_40 mt_40">
                <div class="col-md-11 side_color">
                    <div class="ft_color_white ft_18 pad_7">HISTORY</div>
                </div>
            </div> -->
    <div class="jumbotron" style="margin-left: 2%">

      <p>
        <ngb-alert type="custom" style=" color: white;
                background-color: #184069;
                border-color: #000280;" [dismissible]="false"><strong>Family Info</strong></ngb-alert>
      </p>

      <div class="row ml_40 mt_20">
        <div class="col-md-11">
          <div class="ft_18"><b>Family Id</b>:YIKSSS</div>
        </div>
      </div>
      <div class="row ml_40 mt_20">
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th scope="col">NAME</th>
              <th scope="col">MEMBER ID</th>
              <th scope="col">CREATED DATE</th>
              <th scope="col">TRANSCATIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Pushpa</th>
              <td>0</td>
              <td>12-APR-19</td>

              <!-- <td><button class="btn ft_color_white btn_padding btn-sm btn-color" (click)="open()" >View</button></td> -->
              <td><button class="btn btn-primary" onclick="document.getElementById('id01').style.display='block'"
                  style="width:auto;">VIEW</button>

                <div id="id01" class="modal modal-content animate" style="margin-left: 10%;margin-top:0%">
                  <!--   
                                    <form class="modal-content animate"> -->


                  <div class="container">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close"
                      title="Close Modal">&times;</span>
                    <h3><b>FAMILY DETAILS</b></h3>
                    <br>

                    <!-- <form> -->
                    <br />
                    <fieldset>
                      <!-- <legend>Donation Form</legend> -->
                      <!-- <div class="colums"> -->



                      <div class="row">

                        <div class="col-md-4">
                          <label for="fname">HOF Name</label>
                          <input id="fname" disabled type="text" name="fname" placeholder='Pushpa Devi' />
                        </div>
                        <div class="col-md-4">
                          <label for="lname">Father's Name</label>
                          <input id="lname" disabled type="text" name="lname" placeholder='Radha Krishn' />
                        </div>
                        <div class="col-md-4">
                          <label for="address">Block City</label>
                          <input id="address" disabled type="text" name="address" placeholder='Dhanoo' />
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-4">
                          <label for="phone">Mother's Name</label>
                          <input id="phone" disabled type="text" name="phone" placeholder='Rukma Devi' />
                        </div>
                        <div class="col-md-4">
                          <label for="saddress">Aadhar ID</label>
                          <input id="saddress" disabled type="text" name="city" placeholder='XXXXXX12323' />
                        </div>
                        <div class="col-md-4">
                          <label for="city">District</label>
                          <input id="city" disabled type="text" name="city" placeholder='Barmer' />
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-4">
                          <label for="zip">Bhamashah ID</label>
                          <input id="zip" disabled type="text" name="zip" placeholder='1207-FQXF-25163' />
                        </div>
                        <div class="col-md-4">
                          <label for="country">Gender</label>
                          <input id="country" disabled type="text" name="text" placeholder='Female' />
                        </div>
                        <div class="col-md-4">
                          <label for="country">Pincode</label>
                          <input id="country" disabled type="text" name="text" placeholder='344702' />
                        </div>

                      </div>


                      <div class="row">
                        <div class="col-md-4">
                          <label for="country">Date of Birth</label>
                          <input id="country" disabled type="text" name="text" placeholder='05-JUL-74' />
                        </div>
                        <div class="col-md-4">
                          <label for="country">Marital Status</label>
                          <input id="country" disabled type="text" name="text" placeholder='Married' />
                        </div>
                        <div class="col-md-4">
                          <label for="country">Vill Ward</label>
                          <input id="country" disabled type="text" name="text" placeholder='Shri Ramwala' />
                        </div>
                      </div>



                      <!-- </div> -->


                    </fieldset>

                  </div>

                  <!--               
                                    </form> -->
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Radha Krishna</th>
              <td>317702</td>
              <td>12-APR-19</td>
              <td><button class="btn ft_color_white btn_padding btn-sm btn-color">View</button></td>
            </tr>
            <tr>
              <th scope="row">Rukma Devi</th>
              <td>317703</td>
              <td>12-APR-19</td>
              <td><button class="btn ft_color_white btn_padding btn-sm btn-color">View</button></td>
            </tr>
            <tr>
              <th scope="row">Surajbhan</th>
              <td>317704</td>
              <td>12-APR-19</td>
              <td><button class="btn ft_color_white btn_padding btn-sm btn-color">View</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>


</div>

<script>

  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  function close() {
    modal.close();
  }
</script>