<ngx-ui-loader></ngx-ui-loader>
<div>

  <div class="row">
      <div class="col-md-2 bk_border bk_color pr_0">
          <app-admin-side-nav></app-admin-side-nav>
        </div>
        <div class="col-md-10 pl_0 pr_0">
          <div class="container-fluid" style="background-color:#e9ecef;">
            <div class="container-fluid" style="background-color:#e9ecef;">
              <div class="jumbotron">
                <p>
                  <ngb-alert type="custom" [dismissible]="false"><strong>Dashboard</strong></ngb-alert>
                </p>
                <div class="container" style="background-color:lightgrey">
                  <br>
                <div class="row" >
                  <div class="col-md-12">
                    <div class="">
                      <div class="x_content">
                        <div class="row">
                          <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="tile-stats">
                              <div class="icon"><i class="fa fa-user" aria-hidden="true"></i>
                              </div>
                              <div id="value" class="count green">{{t1.RegisteredCount}}</div>
    
                              <h4 style="color:#bab8b8">Registered Citizens</h4>
                              <p>Number of Registered Citizens.</p>
                            </div>
                          </div>
                          <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="tile-stats">
                              <div class="icon"><i class="fa fa-users"></i>
                              </div>
                              <div id="value1" class="count green">{{t1.TotalfamilyCount}}</div>
    
                              <h4 style="color:#bab8b8">Families</h4>
                              <p>Number of Families.</p>
                            </div>
                          </div>
                          <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="tile-stats"> 
                              <div class="icon"><i class="fa fa-desktop" aria-hidden="true"></i>
                              </div>
                              <div id="value4" class="count green">{{t1.TransactionsCount}}</div>
    
                              <h4 style="color:#bab8b8">Transactions</h4>
                              <p>Number of Transactions.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="">
                      <div class="x_content">
                        <div class="row">
                          <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="tile-stats">
                              <div class="icon"><i class="fa fa-university" aria-hidden="true"></i>
                              </div>
                              <div id="val4" class="count green">{{t1.Rural}}</div>
    
                              <h4 style="color:#bab8b8">Rural Citizens</h4>
                              <p>Number of Registered Citizens.</p>
                            </div>
                          </div>
                          <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="tile-stats">
                              <div class="icon"><i class="fa fa-home"></i> 
                                <!-- <i class="fa fa-id-card-o" aria-hidden="true"></i> -->
                               </div>
                              <div id="val3" class="count green">{{t1.EnrolledCount}}</div>
    
                              <h4 style="color:#bab8b8">Enrolled Citizens</h4>
                              <p>Number of Enrolled Citizens.</p>
                            </div>
                          </div>
                          <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="tile-stats">
                              <div class="icon"><i class="fa fa-user"></i>
                              </div>
                              <div id="val1" class="count green">{{t1.Urban}}</div>
    
                              <h4 style="color:#bab8b8">Urban Citizens</h4>
                              <p>Number of Urban Citizens.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <br>
              </div>
    
                <br><br><br><br>
    
                <div class="row">
                  <div class="col-md-12">
                    <div id="districtData" style="height: 300px; width: 100%;"></div>
                  </div>
                  </div>
                  <br><br><br><br>
                  <div class="row">
                  <div class="col-md-12">
                    <div id="genderData" style="height: 300px; width: 100%;"></div>
                  </div>
                </div>
              
               
                 
              </div>
            </div>
          </div>
        </div>
      
    </div>

  
  </div>