<div class="row">



  <div class="col-md-2 bk_border bk_color pr_0">
    <app-header></app-header>
  </div>
  <div class="col-md-10 pl_0 pr_0">

    <div class="container">
      <div class="container">
        <div class="jumbotron">
            
          <p>
            <ngb-alert type="custom" style=" color: white;
      background-color: #184069;
      border-color: #000280;" [dismissible]="false"><strong>History</strong></ngb-alert>
          </p>


          <p><strong>Family ID:</strong> {{familyid}}</p>
          ​
          <br>
          <br>

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">NAME</th>
                <th scope="col">MEMBER ID</th>
                <th scope="col">CREATED DATE</th>
                <th scope="col">TRANSACTIONS</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of h1">
                <th scope="row">{{item.data.Name}}</th>
                <td>{{item.data.MEM_ID}}</td>
                <td>{{item.data.CREATEDDATE}}</td>
                <td><button class="btn btn-primary" type="button" (click)="open(item.data.MEM_ID,item.data.Name)">VIEW</button></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>